
.hero {
  height: 40vh;
  background: url('../assets/img/about-banner.webp') center center/cover no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
  margin-top: 10%;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.hero-text {
  position: relative;
  font-size: 6vw;
  z-index: 2;
  color: white;
  padding: 10px 20px;
  display: inline-block;
  margin: 0;
  font-weight: 300;
  text-align: center;
}

/* Responsive tweaks */
@media (max-width: 768px) {
  .hero {
    height: 30vh !important;
    margin-bottom: 10vh;
 
  }

  .hero-text {
    font-size: 8vw;
  }
}
