

.contact-hero {
  position: relative;
  height: 40vh;
  background: url('../../Verification/assets/img/contact-banner.webp') center center/cover no-repeat;
  margin-bottom: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8%;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.hero-text {
  position: relative;
  z-index: 2;
  color: white;
  font-size: 5vw;
  padding: 10px 20px;
  display: inline-block;
  margin: 0;
  font-weight: 300;
  text-align: center;
}

/* Responsive tweaks */
@media (max-width: 768px) {
  .hero {
    height: 35vh;
    margin-bottom: 10vh;
  }

  .hero-text {
    font-size: 7vw;
  }
}

@media (max-width: 480px) {
  .hero {
    height: 30vh;
    margin-bottom: 8vh;
  }

  .hero-text {
    font-size: 8vw;
    padding: 8px 12px;
  }
}
