
.verification-btn {
  margin-top:0px;
  padding: 20px;
  width: 90%;
  background-color: #004080;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  font-family: inherit;
}

/* Blinking animation for the text inside the button */
.blinkText {
  animation: blinkText 3s infinite;
  font-size:medium;
}

  .logo-image{
    width: 70%;
  }

/* Hide sidebar by default */
.responsive-sidebar {
  display: none;
}

/* Show sidebar only on screens less than 768px wide */
@media (max-width: 768px) {
  .responsive-sidebar {
    display: flex !important;
    position: relative !important;
    width: 100% !important;
    height: auto !important;
    flex-direction: column !important;
    align-items: center;
    padding: 20px !important;
    background: white;
    z-index: 1000;
  }
 .grid {
    display: none !important;
  }
   .top-navbar {
    height: 50px;
    padding: 0 10px;
  }

  .icon-box {
  position: relative;
  width: 40px;
  height: 70px !important;
  background-color: #0C598F;
  cursor: pointer;
  transition: background-color 0.6s ease;
  flex-shrink: 0;
}

  .cross::before,
  .cross::after,
  .plus::before {
    height: 12px !important;
    width: 2px !important;
    top: 11px !important;
    left: 16px !important;
  }

  .plus::after {
    width: 12px !important;
    height: 2px !important;
    top: 16px !important;
    left: 11px !important;
  }
  .logo-image{
    width: 20vh;

  }

}


/* Top Navigation Bar */
.top-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: flex-end; /* aligns icon to right */
  align-items: center;
  background-color: white;
  z-index: 1000;
  padding: 0 20px;
  box-sizing: border-box;
}


/* Adjustments for mobile */


@keyframes blinkText {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }

}
 .icon-box {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #0C598F;
  cursor: pointer;
  transition: background-color 0.6s ease;
  flex-shrink: 0;
}

          .icon-box::before,
          .icon-box::after {
            content: '';
            position: absolute;
            background-color: white;
            transition: all 0.6s ease;
          }

          /* Cross (X) style - smaller */

.icon-box::before,
.icon-box::after {
  content: '';
  position: absolute;
  background-color: white;
  transition: all 0.6s ease;
}

.cross::before,
.cross::after {
  width: 2px;
  height: 16px;
  top: 12px;
  left: 19px;
}

.cross::before {
  transform: rotate(45deg);
}

.cross::after {
  transform: rotate(-45deg);
}

.plus::before {
  width: 2px;
  height: 16px;
  top: 12px;
  left: 19px;
}

.plus::after {
  width: 16px;
  height: 2px;
  top: 19px;
  left: 12px;
}


          